@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

@section scripts{
    <script src="~/Content/js/ts.list.js"></script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
                <label for="CustomerName"></label>
                <input type="text" class="form-control search-input" id="CustomerName" name="CustomerName" placeholder="客户姓名">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3">订单编号</th>
                        <th class="col-md-3">顾客姓名</th>
                        <th class="col-md-2">价格</th>
                        <th class="col-md-4">创建时间</th>
                    </tr>
                </thead>
                <tbody id="order-list">

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div id="footer" class="pull-right"></div>
    </div>
</div>
<script>
    $(function () {
        var TSList = $("#order-list").TSList({
            getPageListDataUrl: "@Url.Action("OrderPageList","Order")",
            searchEleClass: "search-input",
            footerContainerId: "footer",
            pageSize: 5,
            footerTurnBtnShow:true,
        });
    })
</script>

